/BangOver/build/
/BangOver/dist/
/BoardOver/build/
/PlayOver/build/
/ShowOver/build/
/WatchOver/build/
/BubbleUp/build/
/BubbleUp_1/nbproject/private/
/BubbleUp/nbproject/private/
/BubbleUp/dist/
/Mist/build/
/Shout/build/
/BoardOver/dist/
/PlayOver/dist/
/ShowOver/dist/
/WatchOver/dist/
/Mist/dist/
WatchOver/nbproject/project.xml
WatchOver/nbproject/project.properties
WatchOver/nbproject/private/private.properties
WatchOver/nbproject/genfiles.properties
WatchOver/nbproject/build-impl.xml
ShowOver/nbproject/private/private.properties
PlayOver/nbproject/private/private.properties
BoardOver/nbproject/private/private.properties
BangOver/nbproject/private/private.properties
*.properties
