/* Page Specific Classes and IDs for Show Over */

/** Classes **/
/* My List */
.classTableMyListRow{}

.classTableMyListRowSpanNumber{}

.classTableMyListRowNumber{}

.classTableMyListRowSpanName{
    color: #aaaaaa;
}

.classTableMyListRowName{
    color: #aaaaaa;
}

.classTableMyListRowSpanPicture{
}

.classTableMyListRowPicture{}

.classTableMyListRowSpanRelease{  
    color: #aaaaaa;
}

.classTableMyListRowRelease{
    color: #aaaaaa;
}

.classTableMyListRowSpanSetting{  
    color: #aaaaaa;
}

.classTableMyListRowSetting{
    color: #aaaaaa;
}

.classTableMyListRowSpanGenre{  
    color: #aaaaaa;
}

.classTableMyListRowGenre{
    color: #aaaaaa;
}

/* Global List */
.classTableGlobalListHeaderRow{}

.classTableGlobalListHeader{
    color: #aaaaaa;
}

.classTableGlobalListRow{}

.classTableGlobalListRowSpanNumber{}

.classTableGlobalListRowNumber{
    color: #aaaaaa;
}

.classTableGlobalListRowSpanName{
    color: #aaaaaa;    
}

.classTableGlobalListRowName{
    color: #aaaaaa;
}

.classTableGlobalListRowSpanPicture{}

.classTableGlobalListRowPicture{}

.classTableGlobalListRowSpanRelease{
    color: #aaaaaa;
}

.classTableGlobalListRowRelease{
    color: #aaaaaa;
}

.classTableGlobalListRowSpanSetting{
    color: #aaaaaa;
}

.classTableGlobalListRowSetting{
    color: #aaaaaa;
}

.classTableGlobalListRowSpanGenre{
    color: #aaaaaa;
}

.classTableGlobalListRowGenre{
    color: #aaaaaa;
}

.classTableGlobalListRowSpanRanking{
    color: #aaaaaa;
}

.classTableGlobalListRowRanking{
    color: #aaaaaa;
}

/* Management */
.classTableManagementHeaderRow{}

.classTableManagementHeader{
    color: #aaaaaa;
}

.classTableManagementRow{}

.classTableManagementUsersColIndex{
    color: #aaaaaa;
}

.classTableManagementUsersColUsername{
    color: #aaaaaa;
}

.classTableManagementUsersColEmail{
    color: #aaaaaa;
}

.classTableManagementUsersColAdminLevel{
    color: #aaaaaa;
}

.classTableManagementUsersColComedyS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColDramaS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColActionS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColHorrorS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColThrillerS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColMysteryS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColDocumentaryS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColScienceFictionS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColFantasyS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColWesternS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColMartialArtsS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColModernS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColHistoricS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColPrehistoricS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColComicsS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColPeriodS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColLoggedOn{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

/** IDs **/
/* Compare */
#idTableCompare{}

#idTableCompareRowPictures{}

#idTableCompareRowDataPicturesLeft{}

#idTableCompareRowDataPicturesRight{}

#idTableCompareRowPicturesLeft{}

#idTableCompareRowPicturesRight{}

#idTableCompareRowNames{
    color: #aaaaaa;
}

#idTableCompareRowNamesLeft{
    color: #aaaaaa;
}

#idTableCompareRowNamesRight{
    color: #aaaaaa;
}

#idTableCompareRowReleases{
    border: 0px solid #e9f413;
    
	margin: auto;
    display: table-row;
}

#idTableCompareRowReleasesLeft{
    border: 0px solid #f702f7;
    
	margin: auto;
    display: table-cell;
}

#idTableCompareRowReleasesRight{
    border: 0px solid #f702f7;
    
	margin: auto;
    display: table-cell;
}

#idTableCompareRowSettings{
    border: 0px solid #e9f413;
    
	margin: auto;
    display: table-row;
}

#idTableCompareRowSettingsLeft{
    border: 0px solid #f702f7;
    
	margin: auto;
    display: table-cell;
}

#idTableCompareRowSettingsRight{
    border: 0px solid #f702f7;
    
	margin: auto;
    display: table-cell;
}

#idTableCompareRowGenres{
    border: 0px solid #e9f413;
    
	margin: auto;
    display: table-row;
}

#idTableCompareRowGenresLeft{
    border: 0px solid #f702f7;
    
	margin: auto;
    display: table-cell;
}

#idTableCompareRowGenresRight{
    border: 0px solid #f702f7;
    
	margin: auto;
    display: table-cell;
}

/* My List */
#idTableMyList{
    color: #aaaaaa;
}

/* Global List */
#idTableGlobalStats{
    color: #aaaaaa;
}

#idTableGlobalList{
    color: #aaaaaa;
}

/* Options */
#idTableOptions{
    color: #aaaaaa;
}

/* Management */
#idTableManagementStats{
    color: #aaaaaa;
}

#idTableManagementUsers{
    color: #aaaaaa;
}

#idTableManagementUsersColHeaderIndex{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderUsername{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderEmail{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderAdminLevel{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderComedyS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderDramaS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderaActionS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderHorrorS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderThrillerS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderMysteryS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderDocumentaryS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderScienceFictionS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderFantasyS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderWesternS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderMartialArtsS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderModernS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderHistoricS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderPrehistoricS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderComicsS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderPeriodS{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderLoggedOn{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
 
/* Add Target */
#idContentAdd{
    color: #aaaaaa;
}

#idAddTarget2{}

#idAddTargetUrl2{}

#idRadioAddValue2{
    color: #aaaaaa;    
}

#idContentAddSuggestion{
    color: #aaaaaa;
}

#idAddTarget1{}

#idAddTargetUrl1{}

#idRadioAddValue1{
    color: #aaaaaa;    
}

/* Sign Up */
#idContentSignUp{
    color: #aaaaaa;
}

#idTableSignUp{
    color: #aaaaaa;
}