/* Page Specific Classes and IDs for Show Over */

/** Classes **/
/* My List */
.classTableMyListRow{}

.classTableMyListRowSpanNumber{}

.classTableMyListRowNumber{}

.classTableMyListRowSpanName{
    color: #aaaaaa;
}

.classTableMyListRowName{
    color: #aaaaaa;
}

.classTableMyListRowSpanPicture{
}

.classTableMyListRowPicture{}

.classTableMyListRowSpanRelease{    
    color: #aaaaaa;
}

.classTableMyListRowRelease{
    color: #aaaaaa;
}

.classTableMyListRowSpanSetting{    
    color: #aaaaaa;
}

.classTableMyListRowSetting{
    color: #aaaaaa;
}

.classTableMyListRowSpanGenre{    
    color: #aaaaaa;
}

.classTableMyListRowGenre{
    color: #aaaaaa;
}

/* Global List */
.classTableGlobalListHeaderRow{}

.classTableGlobalListHeader{
    color: #aaaaaa;
}

.classTableGlobalListRow{}

.classTableGlobalListRowSpanNumber{}

.classTableGlobalListRowNumber{
    color: #aaaaaa;
}

.classTableGlobalListRowSpanName{
    color: #aaaaaa;    
}

.classTableGlobalListRowName{
    color: #aaaaaa;
}

.classTableGlobalListRowSpanPicture{}

.classTableGlobalListRowPicture{}

.classTableGlobalListRowSpanRelease{
    color: #aaaaaa;
}

.classTableGlobalListRowRelease{
    color: #aaaaaa;
}

.classTableGlobalListRowSpanSetting{
    color: #aaaaaa;
}

.classTableGlobalListRowSetting{
    color: #aaaaaa;
}

.classTableGlobalListRowSpanGenre{
    color: #aaaaaa;
}

.classTableGlobalListRowGenre{
    color: #aaaaaa;
}

.classTableGlobalListRowSpanRanking{
    color: #aaaaaa;
}

.classTableGlobalListRowRanking{
    color: #aaaaaa;
}

/* Management */
.classTableManagementHeaderRow{}

.classTableManagementHeader{
    color: #aaaaaa;
}

.classTableManagementRow{}

.classTableManagementUsersColIndex{
    color: #aaaaaa;
}

.classTableManagementUsersColUsername{
    color: #aaaaaa;
}

.classTableManagementUsersColEmail{
    color: #aaaaaa;
}

.classTableManagementUsersColAdminLevel{
    color: #aaaaaa;
}

.classTableManagementUsersColComedyM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColDramaM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColActionM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColHorrorM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColThrillerM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColMysteryM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColDocumentaryM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColScienceFictionM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColFantasyM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColWesternM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColMartialArtsM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColModernM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColHistoricM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColPrehistoricM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColComicsM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColPeriodM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

.classTableManagementUsersColLoggedOn{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}

/** IDs **/
/* Compare */
#idTableCompare{}

#idTableCompareRowPictures{}

#idTableCompareRowDataPicturesLeft{}

#idTableCompareRowDataPicturesRight{}

#idTableCompareRowPicturesLeft{}

#idTableCompareRowPicturesRight{}

#idTableCompareRowNames{
    color: #aaaaaa;
}

#idTableCompareRowNamesLeft{
    color: #aaaaaa;
}

#idTableCompareRowNamesRight{
    color: #aaaaaa;
}

#idTableCompareRowReleases{
    border: 0px solid #e9f413;
    
	margin: auto;
    display: table-row;
}

#idTableCompareRowReleasesLeft{
    border: 0px solid #f702f7;
    
	margin: auto;
    display: table-cell;
}

#idTableCompareRowReleasesRight{
    border: 0px solid #f702f7;
    
	margin: auto;
    display: table-cell;
}

#idTableCompareRowSettings{
    border: 0px solid #e9f413;
    
	margin: auto;
    display: table-row;
}

#idTableCompareRowSettingsLeft{
    border: 0px solid #f702f7;
    
	margin: auto;
    display: table-cell;
}

#idTableCompareRowSettingsRight{
    border: 0px solid #f702f7;
    
	margin: auto;
    display: table-cell;
}

#idTableCompareRowGenres{
    border: 0px solid #e9f413;
    
	margin: auto;
    display: table-row;
}

#idTableCompareRowGenresLeft{
    border: 0px solid #f702f7;
    
	margin: auto;
    display: table-cell;
}

#idTableCompareRowGenresRight{
    border: 0px solid #f702f7;
    
	margin: auto;
    display: table-cell;
}

/* My List */
#idTableMyList{
    color: #aaaaaa;
}

/* Global List */
#idTableGlobalStats{
    color: #aaaaaa;
}

#idTableGlobalList{
    color: #aaaaaa;
}

/* Options */
#idTableOptions{
    color: #aaaaaa;
}

/* Management */
#idTableManagementStats{
    color: #aaaaaa;
}

#idTableManagementUsers{
    color: #aaaaaa;
}

#idTableManagementUsersColHeaderIndex{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderUsername{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderEmail{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderAdminLevel{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderComedyM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderDramaM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderaActionM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderHorrorM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderThrillerM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderMysteryM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderDocumentaryM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderScienceFictionM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderFantasyM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderWesternM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderMartialArtsM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderModernM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderHistoricM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderPrehistoricM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderComicsM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderPeriodM{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderLoggedOn{
    border: 0px solid #f702f7;
    
    color: #aaaaaa;
    margin: auto;
    display: table-cell;
}
 
/* Add Target */
#idContentAdd{
    color: #aaaaaa;
}

#idAddTarget2{}

#idAddTargetUrl2{}

#idRadioAddValue2{
    color: #aaaaaa;    
}

#idContentAddSuggestion{
    color: #aaaaaa;
}

#idAddTarget1{}

#idAddTargetUrl1{}

#idRadioAddValue1{
    color: #aaaaaa;    
}

/* Sign Up */
#idContentSignUp{
    color: #aaaaaa;
}

#idTableSignUp{
    color: #aaaaaa;
}